<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RedisTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <RedisTray.Properties.Settings>
      <setting name="RedisServerConfigPath" serializeAs="String">
        <value />
      </setting>
      <setting name="StartHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RedisServerPath" serializeAs="String">
        <value>redis-server.exe</value>
      </setting>
      <setting name="AutoStartRedis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RedisCliPath" serializeAs="String">
        <value>redis-cli.exe</value>
      </setting>
    </RedisTray.Properties.Settings>
  </userSettings>
</configuration>